/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  flex-direction: column;
}

/* ----- HEADER ----- */
.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 2rem;
}

.header img {
  width: 6rem;
  height: 6rem;
}

.nav-header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-header li a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(251, 255, 1);
  border: 0.2rem solid #fff;
  border-radius: 0.9rem;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.3s ease;
}

.nav-header li a:hover {
  background: #fff;
  color: black;
}

/* ----- SECTION ----- */
section {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin: 0.5rem;
  padding: 2rem;
  border: 1rem solid black;
  background-color: rgb(240, 240, 65);
  min-height: 60vh; 
  height: auto;
}

section h1 {
  margin: 2rem 0;
  border-bottom: 0.2rem solid black;
  font-size: 3.5rem;
  text-align: center;
}

section p {
  max-width: 150rem;
  width: 90%;
  font-size: 2.5rem;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.5;
}

/* ----- MAIN ----- */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 2rem;
  border: 1rem solid black;
  background-color: rgb(240, 240, 65);
}

.productos-destacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 1rem inset black;
  padding: 2rem;
  gap: 2rem;
}

.productos-destacados h2 {
  text-align: center;
  margin: 2rem 0;
  border-bottom: 0.2rem solid black;
  font-size: 3rem;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
  width: 80%;
  padding: 1rem;
  
}

/* ----- TARJETAS ----- */
.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  width: 90%;
  padding: 2rem;
}

/* --- Cada tarjeta individual --- */
.tarjeta--producto {
  background-color: black;
  color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28rem;
  padding: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.tarjeta--producto:hover {
  transform: scale(1.05);
}

.tarjeta--producto img {
  width: 80%;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.tarjeta--producto h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.tarjeta--producto p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.tarjeta--producto .btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: yellow;
  font-size: 1.8rem;
  
}

.tarjeta--producto .btn i {
  margin-right: 0.5rem;
  color: yellow;
  font-size: 1.8rem;
}
.tarjeta--producto .btn:hover {
  color: white;
  transform: scale(1.1);
}
.tarjeta--producto .btn:hover i {
  color: white;
  transform: scale(1.1);
}


/* --- Carrito --- */

.main-carrito h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 2rem 0;
  border-bottom: 0.2rem solid black;
  font-size: 3rem;

}

#contenedor-carrito {
  display: flex;
  flex-direction: row;
  border: 1rem inset black;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  width: 90%;
  padding: 2rem;

}
.tarjeta--producto .btn-eliminar-carrito:hover {
  
  color: white;
  transform: scale(1.1);
}

.acciones-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.resumen-carrito p {
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  color: yellow;
}

.resumen-carrito {
  background-color: black;
  color: yellow;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.8rem;
  border: 0.3rem solid black;
}


.btn-vaciar-carrito {
  background-color: yellow;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 0.3rem solid black;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-vaciar-carrito:hover {
  background-color: black;
  color: yellow;
  transform: scale(1.05);
}

/* ----- RESEÑAS ----- */
.reseñas{
  display: flex;
  gap: 2rem;
  width: 90%;
  border: 1rem inset black;
}

.reseñas h2{
  text-align: center;
  margin: 2rem 0;
  border-bottom: 0.2rem solid black;
  font-size: 3rem;
}
.contenedor-reseñas{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  gap: 2rem;
  width: 100%;  
  padding: 2rem;

}

.reseñas-tarjeta{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  padding: 1rem;
  background-color: black;
  border-radius: 4rem;

}
.img-reseña{
  grid-column: 1/2;
  place-self: center;
  border-radius: 20%;
  height: 20rem;
}

.nombre-reseña {
  grid-column: 2/3;
  justify-self: start;
  align-self: center;
  font-size: 3rem;
  color: yellow;  
}

.texto-reseña {
  grid-column: 1/3;
  grid-row: 2/3;
  place-self: center;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 1rem;
  font-size: 2rem;
}



/* ----- FOOTER ----- */
footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: auto;
}

.footer p {
  color: yellow;
  font-size: 1.6rem;
}

.footer nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.sm-icono {
  background: transparent;
  border: none;
  cursor: pointer;
}

.sm-icono img {
  width: 3.5rem;
  height: 3.5rem;
  display: block;
}

/* ----- RESPONSIVE/Media Queries ----- */
@media (max-width: 1024px) {
  .nav-header li a {
    font-size: 1.8rem;
    padding: 0.5rem;
  }

  section p {
    font-size: 1.8rem;
  }

  .contenedor--tarjetas {
    max-width: 28rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    gap: 1rem;
  }

  .nav-header ul {
    flex-direction: row;
    justify-content: space-around;
    gap: 2.5rem;
    padding: 1rem 0;
  }

  section h1 {
    font-size: 2.5rem;
  }

  section p {
    font-size: 1.6rem;
    max-width: 110rem;
  }

  .productos-destacados h2 {
    font-size: 2.5rem;
  }

  .contenedor-productos {
    flex-direction: column;
    align-items: center;
  }

  .contenedor--tarjetas {
    width: 90%;
    max-width: none;
  }
  .tarjeta--producto {
    width: 90%;
    max-width: none;
  }

  .footer {
    flex-direction: column;
    gap: 1rem;
  }
}

/* para tablets y pantallas medianas recordar */
@media (max-width: 1024px) {
  .reseñas-tarjeta {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
  }

  .img-reseña {
    height: 15rem; 
    margin-bottom: 1rem;
  }

  .nombre-reseña {
    font-size: 2.5rem;
    grid-column: 1/2;
    place-self: center;
  }

  .texto-reseña {
    font-size: 1.8rem;
    padding: 0.8rem;
  }
}

/* para smartphones recordar! */
@media (max-width: 600px) {
  .contenedor-reseñas {
    grid-template-columns: 1fr; 
    padding: 1rem;
  }
  .tarjeta--producto {
    grid-template-columns: 1fr; 
    padding: 1rem;
  }

  .reseñas-tarjeta {
    padding: 0.5rem;
  }

  .img-reseña {
    height: 12rem;
  }

  .nombre-reseña {
    font-size: 2rem;
    place-self: center;
  }

  .texto-reseña {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .reseñas h2 {
    font-size: 2.5rem;
  }
}


/* ----- Contacto -----*/

.contacto {
  display: flex;
  flex-direction: column;  
  border-radius: 5rem;
  justify-content: space-around;
  align-items: center;
  height: auto;
  gap: 2rem;   
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; 
      
}
.formulario form{
  display: flex;
  flex-direction: column;   
  gap: 3rem ;
  font-size: 3rem;  
  width: 100%;
   
}
.formulario label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;   
}
.formulario input,.formulario textarea {
  width: 100%;
  padding: 0.7rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 0.5rem inset black;
}
.formulario button{
  background-color: black;
  font-size: 2rem;
  color: yellow;
  border-radius: 3rem;
  height: 5rem;
  align-self: center;
  width: 100%;
  cursor: pointer;  
}

.formulario button:hover{
  background: #fff;
  color: black;
}

